<div class="table">
<h3>CURRENT LIST OF DISTILLERIES</h3>
<hr>
<% @distilleries.each do |distillery| %>

<p>Name: <%= distillery.name() %></p>
<p>Region: <%= distillery.region() %></p>
<a class="show" href="/distilleries/<%= distillery.id %>">SHOW DISTILLERY</a>
<form action="/distilleries/<%= distillery.id %>/edit" method="GET">
  <input type="submit" value="UPDATE DISTILLERY" />
    </form>
  <br>
      <form action="/distilleries/<%= distillery.id %>/delete" method="POST">
        <input type="submit" value="DELETE DISTILLERY" />
      </form>

<hr />
<% end %>
</div>
