<div class="table">
  <h3>CURRENT STOCKLIST</h3>
  <% @bottles.each do |bottle| %>
  <!-- <a class="links" href="/bottles/<%= bottle.id %>">SHOW ORDER</a> -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="row">BRAND</th>
        <th scope="row">TYPE</th>
        <th scope="row">QUANTITY</th>
        <th scope="row">DISTILLERY</th>
        <th scope="row">BUY PRICE</th>
        <th scope="row">SELL PRICE</th>
        <th scope="row">STOCK LEVEL</th>
        <th scope="row">MARK UP</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%=bottle.name()%></td>
        <td><%=bottle.type()%></td>
        <td><%=bottle.quantity()%></td>
        <td><%=bottle.distillery.name()%></td>
        <td><%=bottle.buy_price()%></td>
        <td><%=bottle.sell_price()%></td>
        <td><%=bottle.stock_level()%></td>
        <td><%=bottle.mark_up()%></td>
      </tr>
    </tbody>
  </table>
  <div>
  <a href="http://localhost:4567/bottles/new" class="btn btn-outline-dark btn-sm btn-block" role="button">ADD NEW ORDER</a>
  <form action="/bottles/<%= bottle.id %>/edit" method="PUT">
    <input type="submit" class="btn btn-outline-dark btn-sm btn-block" value="UPDATE ORDER"/>
      </form>
        <form action="/bottles/<%= bottle.id %>/delete" method="POST">
          <input type="submit" class="btn btn-outline-danger btn-sm btn-block" value="DELETE ORDER"/>
        </form>
      </div>
  <% end %>
</div>
