<p>Brand: <%= @product.name %></p>
<p>Type: <%= @product.type %></p>
<p>Quantity: <%= @product.quantity %></p>
<p>Distillery: <%= @product.distillery.name %></p>
<p>Buy price: <%= @product.buy_price %></p>
<p>Sell price: <%= @product.sell_price %></p>
  <a class="links" href="http://localhost:4567/bottles">Return to stock</a>
